.DS_Store
.github
.phpcs
.phpcs.xml
.phpunit.result.cache
.scaffolder
.scoper
.wp-env.json
*.sql
*.tar.gz
*.zip
bin
composer.lock
configure.php
DOCKER_ENV
Dockerfile
Makefile
node_modules/
output.log
package-lock.json
phpunit.xml
phpunit.xml
tests
Thumbs.db
wp-cli.local.yml
