# Build files
build
vendor
composer.lock
node_modules
package-lock.json

# Log files
*.log

# Cache files
.phpcs/*.json
.phpunit.result.cache
.php-cs-fixer.cache
.php_cs.cache

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.thumbsdb

# IDE files
*.code-workspace
.idea
.vscode
