<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
    cacheDirectory=".phpunit.result.cache"
>
  <testsuite name="unit">
    <directory suffix="Test.php">tests/Alley/WP/</directory>
  </testsuite>
  <php>
    <env name="WP_ENVIRONMENT_TYPE" value="development" force="true"/>
  </php>
</phpunit>
