<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    failOnDeprecation="true"
    failOnNotice="true"
    failOnRisky="true"
    cacheDirectory=".phpunit.result.cache"
>
  <testsuite name="unit">
    <directory suffix="Test.php">tests/Alley/WP/</directory>
  </testsuite>

  <groups>
    <exclude>
      <!-- Exclude by default. These require additional plugins to run. -->
      <group>byline-manager</group>
      <group>coauthors-plus</group>
    </exclude>
  </groups>
</phpunit>
